@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Navigate to Home to start adding subscriptions!</h2>

        <p><a class="btn btn-default" href="@Url.Action("Index", "Subscriptions")">Go &raquo;</a></p>

        
    </div>
</div>